<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="danb.speedrunbrowser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <service
            android:name=".MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SpeedrunBrowserActivity"
            android:label="@string/title_item_detail"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">
            <tools:validation testUrl="https://www.speedrun.com/botw" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.speedrun.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".SpeedrunBrowserActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="danb.speedrunbrowser.SpeedrunBrowserActivity" />
        </activity>

        <activity android:name=".stats.SiteStatisticsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_site_statistics"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".stats.GameStatisticsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_game_stats"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".stats.LeaderboardStatisticsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_leaderboard_stats"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".stats.PlayerStatisticsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_player_stats"
            android:theme="@style/AppTheme">

        </activity>

    </application>

</manifest>